

.gallery img{
    margin-bottom:30px;
    width: 100%;    
}
.content .content-overlay {
    height: 90%;
}
.content-details img {
    height: 120px;
}

.leftbox{
    padding: 0;
    margin: 0;
}
.leftbox a {
    color: #000;
    padding: 12px 30px;
    background: #ff5c00;
    font-weight: 600;
}

.leftbox a:hover {
    color: #fff;
    background: #000;
}

.content {
  display: none;
}

#loadMore {
  display: inline-block;
  border: 1px solid transparent;
  transition: .3s;
}

.noContent {
  color: #000 !important;
  background-color: transparent !important;
  pointer-events: none;
}



